# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
datasets/gameplay/processed/*.npz
datasets/gameplay/raw/*.psq
*.pyc
src/nano/models/*.h5
